<section class="about"><h2 class="section-heading"><span>{{site.data.info.prompt}}</span><span> whoami</span></h2><article class="about__text"><p>My name is {{site.data.info.name}}. I am {{site.data.info.what_i_am}}.

My best, perhaps only, talent is to be curious. I keep asking myself where things can be broken and how can we fix them.
I have my hands on keyboards since I was seven years old, computers are my passion since then.
I explore the remarkable world of Linux since the first day I found it. I was so astonished by this planet plenty of incredible solutions and techniques, that I became a Gentoo user.

I explore in search of extraordinary things to learn and smart ways to use them. My father taught me how to be a great worker, unstoppable and voracious for new challenges.</p></article></section>
