<section class="contact"><h2 class="section-heading"><span>{{site.data.info.prompt}}</span><span> cat contact.md</span></h2><p>If you are looking for a curious and passionate developer/researcher, ping me on
<a href="https://github.com/tux-mind">Github</a> or
<a href="https://linkedin.com/mdragano">Linkedin</a>.
<br> Also, feel free to contact me via e-mail:
<a href="mailto:name.surname@gmail.com?body=substitute%20my%20name%20and%20surname%20in%20the%20email%20address.">E-mail</a></p></section>
