<head><title>{{page.title}}</title><meta charset="utf-8"/><meta http-equiv="Content-Type" content="text/html" charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="description" content="My name is {{site.data.info.name}}. I am {{site.data.info.what_i_am}}."/>{% if page.description %}<meta name="description" content="{{page.description}}"/>{% endif %}<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/><link rel="stylesheet" href="/assets/css/main.css"/></head>
