<section class="jobs"><h2 class="section-heading"><span>{{site.data.info.prompt}}</span><span> history</span></h2><ul>{% for job in site.data.jobs.jobs %}<li><span>{{ job.year }} -</span><span> {{ job.title }} -</span><a href="{{ job.url  }}">{{ job.company }}</a><span> - {{ job.location }}</span></li>{% endfor %}</ul></section>
