<!--<section class="latest_posts"><h2 class="section-heading"><span>{{site.data.info.prompt}}</span><span> ls articles/</span></h2><ul>{% for post in site.posts limit:5 %}<li class="latest_posts__post"><a href="{{ post.url }}.html">{{ post.title }}</a><span> {{ post.date | date_to_string }}</span></li>{% endfor %}<a class="all_posts" href="{{ site.url }}/notes">See all posts</a></ul></section>-->
