<section class="projects"><h2 class="section-heading"><span>{{site.data.info.prompt}}</span><span> ls projects/</span></h2><ul>{% for project in site.data.projects.projects %}<li><a href="{{project.url}}">{{ project.name }}</a><span> {{ project.desc }}</span></li>{% endfor %}</ul></section>
