header
    padding: 2em 3em 0
    margin-bottom: 2em

    +mobile
        padding: 1em 1em 0
        margin-bottom: 1em

    h1
        font-size: 6em

        a
            text-decoration: none
            line-height: 0.60em
            letter-spacing: -0.15em

            &:before, &:after
                content: ""
